In [21]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

import pandas as pd
import numpy as py

header=pd.read_csv('.\data\StudentAcademicSuccess\data.csv',nrows=0)


print(header.head())

Empty DataFrame
Columns: [Marital status, Application mode, Application order, Course, Daytime/evening attendance	, Previous qualification, Previous qualification (grade), Nacionality, Mother's qualification, Father's qualification, Mother's occupation, Father's occupation, Admission grade, Displaced, Educational special needs, Debtor, Tuition fees up to date, Gender, Scholarship holder, Age at enrollment, International, Curricular units 1st sem (credited), Curricular units 1st sem (enrolled), Curricular units 1st sem (evaluations), Curricular units 1st sem (approved), Curricular units 1st sem (grade), Curricular units 1st sem (without evaluations), Curricular units 2nd sem (credited), Curricular units 2nd sem (enrolled), Curricular units 2nd sem (evaluations), Curricular units 2nd sem (approved), Curricular units 2nd sem (grade), Curricular units 2nd sem (without evaluations), Unemployment rate, Inflation rate, GDP, Target]
Index: []

[0 rows x 37 columns]

In [22]:


df=pd.read_csv('.\data\StudentAcademicSuccess\data.csv')
print(df.head())
#df.shape()

   Marital status  Application mode  Application order  Course  \
0               1                17                  5     171
1               1                15                  1    9254
2               1                 1                  5    9070
3               1                17                  2    9773
4               2                39                  1    8014

   Daytime/evening attendance\t  Previous qualification  \
0                             1                       1
1                             1                       1
2                             1                       1
3                             1                       1
4                             0                       1

   Previous qualification (grade)  Nacionality  Mother's qualification  \
0                           122.0            1                      19
1                           160.0            1                       1
2                           122.0            1                      37
3                           122.0            1                      38
4                           100.0            1                      37

   Father's qualification  ...  Curricular units 2nd sem (credited)  \
0                      12  ...                                    0
1                       3  ...                                    0
2                      37  ...                                    0
3                      37  ...                                    0
4                      38  ...                                    0

   Curricular units 2nd sem (enrolled)  \
0                                    0
1                                    6
2                                    6
3                                    6
4                                    6

   Curricular units 2nd sem (evaluations)  \
0                                       0
1                                       6
2                                       0
3                                      10
4                                       6

   Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
0                                    0                          0.000000
1                                    6                         13.666667
2                                    0                          0.000000
3                                    5                         12.400000
4                                    6                         13.000000

   Curricular units 2nd sem (without evaluations)  Unemployment rate  \
0                                               0               10.8
1                                               0               13.9
2                                               0               10.8
3                                               0                9.4
4                                               0               13.9

   Inflation rate   GDP    Target
0             1.4  1.74   Dropout
1            -0.3  0.79  Graduate
2             1.4  1.74   Dropout
3            -0.8 -3.12  Graduate
4            -0.3  0.79  Graduate

[5 rows x 37 columns]

In [6]:
df.isnull().sum()

Marital status                                    0
Application mode                                  0
Application order                                 0
Course                                            0
Daytime/evening attendance\t                      0
Previous qualification                            0
Previous qualification (grade)                    0
Nacionality                                       0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Admission grade                                   0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Gender                                            0
Scholarship holder                                0
Age at enrollment                                 0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
Target                                            0
dtype: int64

In [7]:
df.describe()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
count,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,...,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000
mean,1.178571,18.669078,1.727848,8856.642631,0.890823,4.577758,132.613314,1.873192,19.561935,22.275316,...,0.137658,0.541817,6.232143,8.063291,4.435805,10.230206,0.150316,11.566139,1.228029,0.001969
std,0.605747,17.484682,1.313793,2063.566416,0.311897,10.216592,13.188332,6.914514,15.603186,15.343108,...,0.690880,1.918546,2.195951,3.947951,3.014764,5.210808,0.753774,2.663850,1.382711,2.269935
min,1.000000,1.000000,0.000000,33.000000,0.000000,1.000000,95.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.600000,-0.800000,-4.060000
25%,1.000000,1.000000,1.000000,9085.000000,1.000000,1.000000,125.000000,1.000000,2.000000,3.000000,...,0.000000,0.000000,5.000000,6.000000,2.000000,10.750000,0.000000,9.400000,0.300000,-1.700000
50%,1.000000,17.000000,1.000000,9238.000000,1.000000,1.000000,133.100000,1.000000,19.000000,19.000000,...,0.000000,0.000000,6.000000,8.000000,5.000000,12.200000,0.000000,11.100000,1.400000,0.320000
75%,1.000000,39.000000,2.000000,9556.000000,1.000000,1.000000,140.000000,1.000000,37.000000,37.000000,...,0.000000,0.000000,7.000000,10.000000,6.000000,13.333333,0.000000,13.900000,2.600000,1.790000
max,6.000000,57.000000,9.000000,9991.000000,1.000000,43.000000,190.000000,109.000000,44.000000,44.000000,...,12.000000,19.000000,23.000000,33.000000,20.000000,18.571429,12.000000,16.200000,3.700000,3.510000

In [11]:
df['Target'].nunique().sum()

AttributeError: 'int' object has no attribute 'sum'

In [12]:
df['Target'].count()

4424

In [32]:
b=(df['Target']=="Graduate")
b.sum()

2209

In [31]:
c=(df['Target']=="Enrolled")
c.sum()

794

In [36]:
d=(df['Target']=="Dropout")
d.sum()

1421

In [53]:
course=(df['Course'])
print(course)

0        171
1       9254
2       9070
3       9773
4       8014
        ...
4419    9773
4420    9773
4421    9500
4422    9147
4423    9773
Name: Course, Length: 4424, dtype: int64

In [39]:
course.unique()

array([ 171, 9254, 9070, 9773, 8014, 9991, 9500, 9238, 9670, 9853, 9085,
       9130, 9556, 9147, 9003,   33, 9119], dtype=int64)

In [56]:
#coursegraduates=df[(df['Course']=='171')]
#print(coursegraduates.head())
#coursegraduates=(coursegraduates['Target']=="Graduate")

In [82]:
coursegraduates=df[["Course","Target"]]

#coursegraduates=df[((df['Course']=='9254'))]
print(coursegraduates)
#cg=coursegraduates.astype(str)+(df['Target']=="Graduate").astype(str)
#print (cg)

      Course    Target
0        171   Dropout
1       9254  Graduate
2       9070   Dropout
3       9773  Graduate
4       8014  Graduate
...      ...       ...
4419    9773  Graduate
4420    9773   Dropout
4421    9500   Dropout
4422    9147  Graduate
4423    9773  Graduate

[4424 rows x 2 columns]

In [104]:
#coursegraduates = [x for x in df if df.Course=='171']
#print (coursegraduates)

In [111]:
graduates=df[df["Target"]=='Graduate'] 
graduate=graduates[graduates['Course']==171]
print(graduate.count())

graduate.plot('

Marital status                                    96
Application mode                                  96
Application order                                 96
Course                                            96
Daytime/evening attendance\t                      96
Previous qualification                            96
Previous qualification (grade)                    96
Nacionality                                       96
Mother's qualification                            96
Father's qualification                            96
Mother's occupation                               96
Father's occupation                               96
Admission grade                                   96
Displaced                                         96
Educational special needs                         96
Debtor                                            96
Tuition fees up to date                           96
Gender                                            96
Scholarship holder                                96
Age at enrollment                                 96
International                                     96
Curricular units 1st sem (credited)               96
Curricular units 1st sem (enrolled)               96
Curricular units 1st sem (evaluations)            96
Curricular units 1st sem (approved)               96
Curricular units 1st sem (grade)                  96
Curricular units 1st sem (without evaluations)    96
Curricular units 2nd sem (credited)               96
Curricular units 2nd sem (enrolled)               96
Curricular units 2nd sem (evaluations)            96
Curricular units 2nd sem (approved)               96
Curricular units 2nd sem (grade)                  96
Curricular units 2nd sem (without evaluations)    96
Unemployment rate                                 96
Inflation rate                                    96
GDP                                               96
Target                                            96
dtype: int64

In [ ]:
#I HAVE ENTERED THE SYSTEM

In [ ]:
# junk code that I made while working on homework. It might be useful in the future.

# uniquevalues=pd.Series(df[col]).drop_duplicates().dropna().tolist()
#    approved_counts=[]
#    denied_counts=[]
#    print(uniquevalues)
#    for x in uniquevalues:
#        approved_counts.append(df[col].loc[((df['Loan_Status']=='Y') & (df[col]==x))].count())
#        denied_counts.append(df[col].loc[((df['Loan_Status']=='N') & (df[col]==x))].count())
    #approved_counts=df[col].loc[(df['Loan_Status']=='Y')]
    #denied_counts=df[col].loc[(df['Loan_Status']=='N')]